@import url('https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}
